.header {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    text-align: left;
    padding: 0 24px;
    z-index: 2;
}

.headerRow {
    display: flex;
    margin: auto;
    max-width: 1200px;
    height: 100%;
}

.nameLogo {
    background: #121F3D;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    margin-right: 56px;
    /* padding-left: 24px; */
    box-shadow: 35px 0 0 #71798B;
    border-radius: 0px 132px 0px 0px;
}

.name {
    padding-left: 40px;
}

.headerRow::before {
    content: '';
    position: absolute;
    background: #121F3D;
    width: 27%;
    left: 0;
    height: 100%;
    z-index: 2;
}

.navLinks {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    align-items: center;
    /* padding: 0  24px 0 24px; */
    flex: auto;
}